.page {
    background-color: white;
    width: 595px;
    height: 842px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px dotted gray;
    border-left: 12px solid #C6C6C6;
}